.nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 90px;
    font-weight: bold;
    background-color: rgb(175, 27, 27);
} 
.navBox{
  height: 30px;
  margin-top: 25px;
}
.navPage{
  color: #fff;
  text-decoration: none;
   margin: 15px;
   font-size: 18px;
}
.navPage:hover{
  color: rgb(59, 211, 59);
}
#navlogo{
  font-size: 30px;
  color: rgb(29, 179, 24);
  
}
.navPage button{
  color: #fff;
  background-color:  rgb(175, 27, 27);
  padding: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  border-radius: 5px;
}

.navPage button:hover{
background-color: green;
border: 1px solid green;
}
